<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="ACCEPT_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ACCEPT_KEY" type="xstring" value="text/csv;text/plain;text/xml"/>
<entry key="ACCEPT_KEY_BOOL" type="xboolean" value="false"/>
<config key="ACCEPT-CHARSET_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ACCEPT-CHARSET_KEY" type="xstring" value=""/>
<entry key="ACCEPT-CHARSET_KEY_BOOL" type="xboolean" value="false"/>
<config key="ACCEPT-ENCODING_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ACCEPT-ENCODING_KEY" type="xstring" value=""/>
<entry key="ACCEPT-ENCODING_KEY_BOOL" type="xboolean" value="false"/>
<config key="ACCEPT-LANGUAGE_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ACCEPT-LANGUAGE_KEY" type="xstring" value=""/>
<entry key="ACCEPT-LANGUAGE_KEY_BOOL" type="xboolean" value="false"/>
<config key="COOKIE_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="COOKIE_KEY" type="xstring" value=""/>
<entry key="COOKIE_KEY_BOOL" type="xboolean" value="false"/>
<config key="FROM_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="FROM_KEY" type="xstring" value=""/>
<entry key="FROM_KEY_BOOL" type="xboolean" value="false"/>
<config key="IF-MATCH_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="IF-MATCH_KEY" type="xstring" value=""/>
<entry key="IF-MATCH_KEY_BOOL" type="xboolean" value="false"/>
<config key="IF-MODIFIED-SINCE_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="IF-MODIFIED-SINCE_KEY" type="xstring" value=""/>
<entry key="IF-MODIFIED-SINCE_KEY_BOOL" type="xboolean" value="false"/>
<config key="IF-NONE-MATCH_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="IF-NONE-MATCH_KEY" type="xstring" value=""/>
<entry key="IF-NONE-MATCH_KEY_BOOL" type="xboolean" value="false"/>
<config key="IF-UNMODIFIED-SINCE_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="IF-UNMODIFIED-SINCE_KEY" type="xstring" value=""/>
<entry key="IF-UNMODIFIED-SINCE_KEY_BOOL" type="xboolean" value="false"/>
<config key="MAX-FORWARDS_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="MAX-FORWARDS_KEY" type="xstring" value=""/>
<entry key="MAX-FORWARDS_KEY_BOOL" type="xboolean" value="false"/>
<config key="PROXY-AUTHORIZATION_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="PROXY-AUTHORIZATION_KEY" type="xstring" value=""/>
<entry key="PROXY-AUTHORIZATION_KEY_BOOL" type="xboolean" value="false"/>
<config key="USER-AGENT_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="USER-AGENT_KEY" type="xstring" value=""/>
<entry key="USER-AGENT_KEY_BOOL" type="xboolean" value="false"/>
<config key="URL_COL_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="URL_COL_KEY">
<entry key="useRowID" type="xboolean" value="false"/>
<entry key="columnName" type="xstring" value="URL_IN"/>
</config>
<config key="AUTH_TYPE_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="AUTH_TYPE_KEY" type="xstring" value="None"/>
<config key="USERNAME_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="USERNAME_KEY" type="xstring" value=""/>
<config key="PASSWORD_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="PASSWORD_KEY" type="xstring" value=""/>
<config key="RESPONSE_REPR_TYPE_KEY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="RESPONSE_REPR_TYPE_KEY" type="xstring" value="Autodetection"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Ingredients"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="-577"/>
<entry key="y-coordinate" type="xint" value="399"/>
<entry key="width" type="xint" value="120"/>
<entry key="height" type="xint" value="13"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="com.cenix.krest.nodes.submitter.batchget.BatchGetRestNodeFactory"/>
<entry key="node-name" type="xstring" value="GET Resource (Batch)"/>
<entry key="node-bundle-name" type="xstring" value="REST Client Node extension for KNIME Workbench"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="com.cenix.krest.nodes"/>
<entry key="node-bundle-vendor" type="xstring" value="Cenix Bioscience"/>
<entry key="node-bundle-version" type="xstring" value="1.2.7.201502191505"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="GET Resource (Batch)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
